h5py>=3.11.0
hnswlib>=0.8.0
kaggle>=1.6.14
lifelines>=0.29.0
matplotlib>=3.8.4
numba>=0.59.1
numpy>=2.0.1
pandas>=2.2.2
Requests>=2.32.3
scikit_learn>=1.4.2
scikit_survival>=0.23.0
scipy>=1.14.0
six>=1.16.0
SurvivalEVAL>=0.2.7
torch>=2.3.1
torchdiffeq>=0.2.4
torchsurv>=0.1.2
xgboost>=2.1.0
